.mobile-modal
.header-container
  a(href="/")
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='50px', y='50px', viewbox='0 0 437.1 101.1',  xml:space='preserve').test.header-logo
      g
        path#XMLID_42_(d='M109.2,25.5c0,7.5-1.7,13.4-5.1,17.8c-2.4,3.2-5.6,5.4-9.6,6.7c-2,0.7-3.8,1-5.4,1c3.7,0.9,6.6,2.3,8.7,4.2 \
          c2.7,2.4,4,5.3,4,8.8c0,0.4,0,0.8,0,1c0,0.3-0.1,0.5-0.1,0.6c-0.7,6.9-2.8,12.1-6.2,15.7c-2.9,3-6.9,5-12.1,6.1 \
          c-3.4,0.7-8.5,1-15.2,1H4.7l18.8-75.6h64h3.2c5.3,0,9.3,0.6,11.9,1.8C107,16.5,109.2,20.2,109.2,25.5z M67.2,63.6 \
          c0-0.3,0.1-0.6,0.1-1.1c0-1.6-0.6-2.6-1.9-3.1c-0.7-0.3-1.9-0.4-3.7-0.4H46.3L43,70.6h16.1c2.3,0,4.1-0.5,5.4-1.4 \
          C65.9,68.1,66.9,66.2,67.2,63.6z M73.8,38.6c0-1.7-0.6-3-1.9-3.7c-1-0.6-2.4-0.9-4.1-0.9H52.6l-2.7,11.4H65c2.5,0,4.5-0.4,6-1.3 \
          C72.9,42.9,73.8,41.1,73.8,38.6z')
        path#XMLID_46_(d='M165.5,12.8l-18.9,75.6H111l18.8-75.6H165.5z')
        path#XMLID_48_(d='M268.2,25.5c0,7.5-1.7,13.4-5.1,17.8c-2.4,3.2-5.6,5.4-9.6,6.7c-2,0.7-3.8,1-5.4,1c3.7,0.9,6.6,2.3,8.7,4.2 \
          c2.7,2.4,4,5.3,4,8.8c0,0.4,0,0.8,0,1c0,0.3-0.1,0.5-0.1,0.6c-0.7,6.9-2.8,12.1-6.2,15.7c-2.9,3-6.9,5-12.1,6.1 \
          c-3.4,0.7-8.5,1-15.2,1h-63.7l18.8-75.6h64h3.2c5.3,0,9.3,0.6,11.9,1.8C266.1,16.5,268.2,20.2,268.2,25.5z M226.2,63.6 \
          c0-0.3,0.1-0.6,0.1-1.1c0-1.6-0.6-2.6-1.9-3.1c-0.7-0.3-1.9-0.4-3.7-0.4h-15.4l-3.2,11.5h16.1c2.3,0,4.1-0.5,5.4-1.4 \
          C225,68.1,225.9,66.2,226.2,63.6z M232.9,38.6c0-1.7-0.6-3-1.9-3.7c-1-0.6-2.4-0.9-4.1-0.9h-15.3l-2.8,11.4h15.2 \
          c2.5,0,4.5-0.4,6-1.3C231.9,42.9,232.9,41.1,232.9,38.6z')
        path#XMLID_52_(d='M324.5,12.8l-18.9,75.6H270l18.8-75.6H324.5z')
        path#XMLID_54_(d='M434.4,12.8l-39.1,40.5L413,88.4h-37.5l-11.1-27.9l-6.8,27.9h-34.5l18.8-75.6h34.1l-7,27.9l22.1-27.9H434.4z \
          ')
  button.c-hamburger.c-hamburger--htx
    span toggle menu
nav.mobile-menu__container
  ul.mobile-menu
    li.mobile-menu__elem
      a(href='/products').mobile-menu__elem-link Products
    li.mobile-menu__elem
      a(href='/lookbook').mobile-menu__elem-link Lookbook
    li.mobile-menu__elem
      a(href='/blog').mobile-menu__elem-link Blog
    li.mobile-menu__elem
      a(href='/info').mobile-menu__elem-link Info
    li.mobile-menu__elem
      a(href='/stockists').mobile-menu__elem-link Stockists
nav.menu-desktop__container
  ul.menu-desktop
    li.menu-desktop__elem
      a(href='/products').menu-desktop__elem-link
        .menu-desktop__elem-link-inner Products
    li.menu-desktop__elem
      a(href='/lookbook').menu-desktop__elem-link
        .menu-desktop__elem-link-inner Lookbook
    li.menu-desktop__elem
      a(href='/blog').menu-desktop__elem-link
        .menu-desktop__elem-link-inner Blog
    li.menu-desktop__elem
      a(href='/info').menu-desktop__elem-link
        .menu-desktop__elem-link-inner Info
    li.menu-desktop__elem
      a(href='/stockists').menu-desktop__elem-link
        .menu-desktop__elem-link-inner Stockists
