extends layout

block content
    .info-container
        .info-block
            .info-top-part
                .info-text Original underground brand.
                .info-text.wrap Produced exclusively in St. Petersburg, Russia.
            .info-supson  ¯\_(ツ)_/¯
            .info-bottom-part
                .info-text contact: hello@bibik.top





