doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#EFB9D8')
    meta(name='keywords', content='Bibik Asocial')
    meta(name='description', content='Original underground brand.Produced exclusively in St. Petersburg, Russia.')
    meta(name='google-site-verification', content='jzQkNK5qhd32J-uR7Nvec6P9UHGh8uyld9W0t2qYAE0')

    meta(property='og:title', content='Bibik')
    meta(property='og:description', content='Original underground brand.Produced exclusively in St. Petersburg, Russia.')
    meta(property='og:url', content='http://bibik.top')
    meta(property='og:image', content='http://bibik.top/pics/lookbook/1.jpg')


    title Bibik - #{title}
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href=asset('css/style.css'))
  body
    .preloader-container
      img(src="/pics/loader/hearts.svg")
    include partials/header

    .main-container.not-active
      include partials/flash
      block content

      //-include partials/footer

    script(src='/js/lib/jquery-2.2.4.min.js')
    script(src='/js/lib/lazyload.min.js')

    script(src='/js/lib/swiper.jquery.min.js')
    script(src=asset('js/bundle.js'))

    //- Initialize Swiper
    script.
      if (document.querySelectorAll(".swiper-slide").length > 1) {
        var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          slidesPerView: 1,
          paginationClickable: true,
          spaceBetween: 10,
          loop: true
        });
      }

    //- Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-84605611-1', 'auto');
      ga('send', 'pageview');
