extends layout

block content
    .products__container
        each item, index in products
            .products__elem
                a(href="/products/" + item.id).products__elem_link
                    .products__elem_img-overlay
                    img(src=item.prototype1).products__elem_pic
                    .products__elem_text-overlay #{item.name}
