extends layout

block content
  .info-container
    .info-block
        .info-top-part
            .stockists-text Now available
            //- .info-text.wrap Produced exclusively in St. Petersburg, Russia.
        .stockists-at  @
        .info-bottom-part
          a(class='stockists-text' href='http://aupontrouge.ru/ru/brand/BIBIK') Au Pont Rouge
