$pink-transparent: rgba(239,185,216,0.6);
$pink: rgba(239,185,216,1);

@mixin iphone {
  @media (min-device-width: 320px)
  and (max-device-width: 736px) {
    @content;
  }
}

@mixin ipad {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@import "lib/bootstrap/bootstrap";

@import "pages/home";
@import "pages/products";
@import "pages/product";
@import "pages/lookbook";
@import "pages/blog";
@import "pages/info";

@import "partials/header";
@import "partials/footer";
@import "partials/swiper";

// Scaffolding
// -------------------------
.preloader-container {
  width: 90px;
  height: 90px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity .6s;
  transition-delay: .2s;
  opacity: 1;
  &.not-active {
    opacity: 0;
  }
}
.main-container{
  opacity: 1;
  margin-top: 0px;
  transition: opacity .4s, transform 1s;
  transform: translate3d(0, 0, 0);
  transition-delay: .3s;
  display: flex;
  justify-content: center;
  &.not-active {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
}
.fade-out {
  opacity: 0;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  padding-top: 30px;
  margin-bottom: 75px;
}
.wrapper {
  margin-top: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

li {
  list-style-type: none;
}
// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// 404
.wrap-404 {

}
span.text-404 {
  font-size: 1.8rem;
}
