.blog-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  @include ipad {
    padding-top: 30px;
    width: 90%;
  }
  @include desktop {
    padding-top: 20px;
    width: 80%;
  }
}
.blog-elem {
  width: 100%;
  margin: 10px 10px;
  @include ipad {
    width: 30%;
  }
  @include desktop {
    width: 30%;
  }
}
img {
  width: 100%;
  height: auto;
}