.info-container {
  padding-top: 30px;
  @include ipad {
    position: absolute;
    top: 50%;
  }
}
.info-block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: 1px solid #000;
  margin: auto;
}
.info-top-part {
  padding: 0px 10px;
}
.info-supson {
  align-self: center;
  text-align: center;
  margin-top: -60px;
  font-size: 1.5rem;
}
.info-bottom-part {
  margin-top:-50px;
}
.info-text {
  align-self: center;
  text-align: center;
  padding: 8px 0;
  font-size: 1.08rem;
}
.wrap {
  padding: 0 40px;
}