.product-picture__container {
  width: 90%;
  max-width: 400px;
  @include ipad {
    padding-top: 20px;
    max-width: 550px;
  }
  @include desktop {
    max-width: 700px;
    padding-top: 20px;
  }
}
.product-description__container,
.product-title__container{
  @include iphone {
    padding-left: 35px;
  }
  @include ipad {
    padding-left: 60px;
  }
  @include desktop {
    padding-left: 80px;
  }
}
.product-title {
  font-size: 1.1rem;
  text-align: left;
  color: black;
  font-family: sans-serif;
  @include ipad {
    font-size: 1.3rem;
  }
  @include desktop {
    font-size: 1.4rem;
  }
}
.product-description {
  display: block;
  margin: 5px 0;
  color: black;
  font-family: sans-serif;
  @include ipad {
    font-size: 1.1rem;
  }
  @include desktop {
    font-size: 1.2rem;
  }
}
.swiper-fixed {
  height: auto;
  width: 90%;
}
